/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(205, 100%, 25%);
  --second-color: hsl(205, 100%, 20%);
  --first-gradient: linear-gradient(
    90deg,
    hsl(202, 61%, 24%),
    hsl(202, 68%, 34%)
  );
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(205, 100%, 25%);
  --text-color-light: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(205, 100%, 50%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: 0.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__logo span {
  color: black;
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__logo i {
  color: var(--first-color);
  font-size: 1.5rem;
}

.nav__close,
.nav__toggle {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  transition: color 0.4s;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--black-color);
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    border-left: 2px solid var(--black-border);
    transition: right 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  transition: 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(255, 90%, 8%, 0.1);
}

.bg-header .nav__logo span,
.bg-header .nav__toggle {
  color: var(--title-color);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  background-color: var(--black-color);
}

.home__container {
  position: relative;
  row-gap: 3rem;
  padding-block: 2.5rem 6rem;
}

.home__content {
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  color: #fff;
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2.5rem;
  color: var(--text-color-light);
}

.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home__info {
  display: flex;
  justify-content: center;
  column-gap: 4.5rem;
}

.home__info-title {
  color: var(--second-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home__info-description {
  font-size: var(--small-font-size);
  color: black;
}

.home__images {
  position: relative;
  justify-self: center;
}

.home__img-1 {
  width: 1000px !important;
}

.home__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-flex;
  background: var(--first-gradient);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 2rem;
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 8px hsla(18, 95%, 55%, 0.3);
  color: var(--white-color);
}

.button__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--first-color);
}

.button__link span {
  font-weight: var(--font-semi-bold);
}

.button__link i {
  font-size: 1.5rem;
  transition: transform 0.4s;
}

.button__link:hover {
  transform: translateX(0.25rem);
}
/*=============== ABOUT ===============*/
.about__container {
  row-gap: 8rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__list {
  text-align: initial;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.about__list-item {
  display: flex;
  column-gap: 0.5rem;
  color: var(--title-color);
}

.about__list-item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.about__images {
  position: relative;
  justify-self: center;
}

.about__img-1 {
  width: 200px;
  bottom: 5px solid var(--body-color);
  position: absolute;
  top: -5rem;
  left: 6rem;
}

.about__img-2 {
  width: 250px;
  margin-right: 2.5rem;
}

/*=============== SERVICES ===============*/
.service {
  position: relative;
}

.services__container {
  position: relative;
  row-gap: 3rem;
}

.services__data {
  text-align: center;
}

.services__description {
  margin-bottom: 2rem;
}

.services__card {
  width: 260px;
  border-color: var(--container-color);
  border: 2px solid var(--gray-border);
  padding: 2rem 1rem 3.5rem;
  transition: border-color 0.4s;
}

.services__card:hover {
  border-color: var(--first-color);
}

.services__icon {
  width: 70px;
  height: 70px;
  background-color: var(--black-color);
  color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.services__shape {
  position: absolute;
  width: 100%;
  height: 245px;
  background-color: transparent;
  bottom: 0;
  left: 0;
}

/* Swiper class */
.swiper {
  margin-inline: initial;
  padding-bottom: 4rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-color: var(--container-color);
  box-shadow: 0 2px 8px hsla(255, 8%, 4%, 0.1);
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--title-color);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

/*=============== Harga ===============*/
.harga {
  background-color: var(--black-color);
}

.harga .section__title {
  color: var(--white-color);
}

.harga__container {
  padding-block: 1.5rem 3rem;
}

.harga__card {
  border-radius: 20px 20px 20px 20px;
  background-color: var(--container-color);
  border: 2px solid transparent;
  background-clip: content-box;
  transition: border-color 0.4s;
}

.harga__card:hover {
  border-color: var(--first-color);
}

.harga__data {
  padding: 1.5rem 1rem 3rem;
}

.harga__data p {
  text-align: center;
}

.harga__title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-block: 1rem;
  color: var(--second-color);
}

.harga__date {
  justify-content: center;
  display: block;
  font-weight: var(--font-small);
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.harga__img {
  border-radius: 15px 15px 20px 20px;
}

.price-item {
  border-style: solid;
  border-color: rgb(199, 183, 183);
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 15px; /* Add spacing between each item */
}
.price {
  color: hsl(202, 61%, 60%);
}
/*=============== PROJECTS ===============*/
.projects {
}

.projects .section__title {
  color: black;
}

.projects__container {
  padding-block: 1.5rem 3rem;
}

/* Container untuk Artikel */
.projects__container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Default Grid */
  gap: 1rem;
}

@media (max-width: 768px) {
  /* Layout Horizontal untuk Mobile */
  .projects__container {
    display: flex; /* Ubah grid menjadi flex */
    overflow-x: auto; /* Aktifkan scroll horizontal */
    scroll-snap-type: x mandatory; /* Snap untuk mengunci setiap artikel pada scroll */
  }

  .projects__card {
    flex: 0 0 80%; /* Setiap card akan mengambil 80% dari lebar container */
    scroll-snap-align: center; /* Card akan terkunci di tengah saat digeser */
    margin-right: 1rem; /* Jarak antar card */
  }
}

.projects__card:hover {
  border-color: var(--first-color);
}

.projects__data {
  padding: 1.5rem 1rem 3rem;
}

.projects__title {
  font-size: var(--h2-font-size);
  margin-block: 0.5rem;
  text-align: center;
}

.projects__date {
  display: block;
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

/*=============== CUSTOMER ===============*/
/* CSS */

.our-partners {
  text-align: center;
  padding: 40px 20px;
}

.our-partners h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.partner {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*============== BRAND ================*/
.brand-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff; /* Set background color #0096ff as needed */
}

.brand-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.brand-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-images {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 20px 0;
  border-color: #fff;
  -ms-overflow-style: none; /* Hide scrollbar in IE */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.brand-images::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit browsers (Chrome, Safari, etc.) */
}

.brandimg-wrapper {
  flex: 0 0 200px; /* Increase the size here */
  margin: 0 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
}

.brandimg-wrapper img {
  width: 100%;
  border-radius: 8px;
}

.arah {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.arah:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left-arah {
  left: 10px;
}

.right-arah {
  right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .brandimg-wrapper {
    flex: 0 0 120px;
  }
}

@media (max-width: 480px) {
  .brandimg-wrapper {
    flex: 0 0 100px;
  }
}

/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 3rem;
  padding-block: 1.5rem 3rem;
}

.contact__img {
  width: 320px;
  justify-self: center;
}

.contact__data {
  grid-template-columns: 230px;
  justify-content: center;
  row-gap: 1.5rem;
}

.contact__card {
  background-color: var(--container-color);
  border: 2px solid var(--gray-border);
  padding: 1.5rem 2rem;
  text-align: center;
  transition: border-color 0.4s;
}

.contact__card:hover {
  border-color: var(--first-color);
}

.contact__icon {
  width: 48px;
  height: 48px;
  background-color: var(--black-color);
  color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  margin: 0 auto 1.25rem;
}

.contact__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.contact__info {
  font-style: normal;
}

.contact__social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.contact__social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  transition: transform 0.4s;
}

.contact__social-link:hover {
  transform: translateY(-0.25rem);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--black-color);
  color: var(--text-color-light);
  padding-block: 3.5rem 2rem;
}

.footer__container {
  row-gap: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--black-border);
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.footer__logo span {
  color: black;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__logo i {
  color: var(--first-color);
  font-size: 1.5rem;
}

.footer__description {
  margin-block: 1rem;
}

.footer__email,
.footer__info {
  font-style: normal;
}

.footer__content {
  grid-template-columns: repeat(1, max-content);
  gap: 4rem 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  color: black;
  margin-bottom: 1rem;
}

.footer__links,
.footer__list {
  display: grid;
  row-gap: 0.5rem;
}

.footer__link {
  color: var(--text-color-light);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  margin-top: 4rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Muncul di atas elemen lain */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Latar belakang hitam dengan sedikit transparansi */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Banner Section */
.banner-home {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: 3.5rem;
}

.banner-img {
  width: 100;
  height: 50%;
}

.banner-content {
  position: relative;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black-color);
  padding: 30px 40px;
  text-align: center;
  width: 60%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.banner-content h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 18px;
  color: #fff;
}

.booking-button {
  background: var(--first-gradient);
  color: var(--white-color);
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.booking-button:hover {
  background-color: #191531;
}

/* Content Section */
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 80px;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.content-img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.content-text {
  width: 50%;
  color: #333;
}

.content-text h2 {
  font-size: 32px;
  color: #333;
}

.content-text h2 span {
  color: #007bff;
}

.content-text p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #666;
}

.contact-button {
  background: var(--first-gradient);
  color: var(--white-color);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #162636;
}

/* Gallery Section */
.gallery-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(
    --black-color
  ); /* Set background color #0096ff as needed */
  color: #ffffff;
}

.gallery-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
  color: #fff;
}

.gallery-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.gallery-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-images {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 20px 0;
  border-color: #fff;
}

.image-wrapper {
  flex: 0 0 500px; /* Increase the size here */
  margin: 0 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
}

.image-wrapper img {
  width: 100%;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-wrapper {
    flex: 0 0 280px;
  }
}

@media (max-width: 480px) {
  .image-wrapper {
    flex: 0 0 280px;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .banner-content {
    width: 80%;
    padding: 20px;
  }

  .banner-content h1 {
    font-size: 24px;
  }

  .banner-content p,
  .booking-button {
    font-size: 16px;
  }

  .content-section {
    flex-direction: column;
    padding: 20px;
  }

  .content-img,
  .content-text {
    width: 100%;
  }

  .content-text h2 {
    font-size: 24px;
  }

  .gallery-section {
    padding: 40px 20px;
  }

  .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Muncul di atas elemen lain */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Latar belakang hitam dengan sedikit transparansi */
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(255, 5%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(255, 5%, 65%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(255, 5%, 55%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 4px 16px hsla(255, 90%, 8%, 0.15);
  color: var(--title-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .section__title {
    font-size: 1.25rem;
  }

  .home__title {
    font-size: 1.75rem;
  }

  .home__buttons {
    flex-direction: column;
  }

  .home__img-1 {
    width: 200px;
  }

  .about__list {
    grid-template-columns: repeat(1, 200px);
  }
  .about__img-1 {
    width: 150px;
    left: 4rem;
  }
  .about__img-2 {
    width: 200px;
    margin-right: 0;
  }

  .footer__content {
    grid-template-columns: repeat(1, max-content);
  }
}

/* For medium devices */
@media screen and (min-width: 540px) {
  .home__container,
  .about__container,
  .services__container
    .projects__container
    .contact__container
    .harga__container {
    grid-template-columns: 360px;
    justify-content: center;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .harga__container {
    grid-template-columns: repeat(2, 330px);
  }

  .project__container {
    grid-template-columns: repeat(2, 330px);
  }

  .contact__data {
    grid-template-columns: repeat(2, 240px);
    justify-content: space-beetwen;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(--header-height) + 2rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
  }

  .bg-header .nav__link {
    color: var(--text-color);
  }
  .bg-header .active-link,
  .bg-header .nav__link:hover {
    color: var(--first-color);
  }
  .bg-header .button,
  .bg-header .button:hover {
    color: var(--white-color);
  }

  .home__container {
    grid-template-columns: 475px 550px;
    column-gap: 6rem;
    align-items: flex-start;
    padding-top: 5.5rem;
  }
  .home__content {
    row-gap: 4.5rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__description {
    margin-bottom: 3rem;
  }
  .home__buttons {
    justify-content: initial;
    column-gap: 3rem;
  }
  .home__info {
    justify-content: initial;
    column-gap: 3rem;
  }
  .home__info-description {
    font-size: var(--normal-font-size);
  }
  .home__img-1 {
    width: 400px;
    margin-right: 0;
  }

  .home__lines {
    object-position: center;
  }
  .about__container {
    grid-template-columns: repeat(2, 480px);
    column-gap: 9rem;
    padding-block: 9rem 2rem;
  }
  .about__images {
    order: -1;
  }
  .about__img-1 {
    width: 300px;
    border-width: 10px;
    top: -9rem;
    left: 11rem;
  }
  .about__img-2 {
    width: 450px;
  }
  .about__data,
  .about__data :is(.section__title, .section__subtitle) {
    text-align: initial;
  }
  .about__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3.5rem;
  }

  .services__container {
    grid-template-columns: initial;
    row-gap: 5rem;
    padding-bottom: 4.5rem;
  }
  .services__data {
    display: grid;
    grid-template-columns: 415px 370px max-content;
    justify-content: space-between;
    align-items: center;
  }
  .services__data :is(.section__title, .section__subtitle),
  .services__description {
    text-align: initial;
  }
  .services__data .section__title {
    margin-bottom: 0;
  }
  .services__swiper {
    max-width: 1100px;
  }
  .services__card {
    width: 348px;
    border-width: 3px;
    padding: 3.5rem 2rem 6rem;
  }
  .services__shape {
    height: 330px;
  }

  .harga__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 2rem;
  }
  .harga__card {
    border-width: 3px;
  }
  .harga__data {
    padding: 2rem 1.5rem 4rem;
  }

  .projects__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 2rem;
  }
  .projects__card {
    border-width: 3px;
  }
  .projects__data {
    padding: 2rem 1.5rem 4rem;
  }

  /*----customer----*/
  .customer__container {
    grid-template-columns: initial;
    row-gap: 5rem;
    padding-bottom: 4.5rem;
  }
  .customer__data {
    grid-template-columns: 2rem 1.5rem 4rem;
  }

  .customer__data .section__title {
    margin-bottom: 0;
  }

  .customer__description {
    text-align: center;
  }
  /*----contact----*/
  .contact :is(.section__title, .section__subtitle) {
    text-align: initial;
  }
  .contact__container {
    grid-template-columns: 530px 515px;
    justify-content: initial;
    align-items: flex-start;
    column-gap: 3.5rem;
    padding-block: 3.5rem 4rem;
  }
  .contact__img {
    width: 530px;
  }
  .contact__data {
    gap: 2rem;
  }
  .contact__card {
    border-width: 3px;
  }
  .contact__title {
    font-size: var(--h3-font-size);
  }

  .footer {
    padding-block: 4.5rem 3rem;
  }
  .footer__container {
    padding-bottom: 6rem;
  }
  .footer__content {
    column-gap: 7rem;
  }
  .footer__description {
    margin-block: 1.5rem;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer__links,
  .footer__list {
    row-gap: 1rem;
  }
  .scrollUp {
    right: 3rem;
  }
}
